/***********************************

Global Styles

************************************/

body {
  background-color: #dedede;
  color: #121212;
  font-family: arial, "sans-serif";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-wrapper {
  margin: 0 20px;
}
.center {
  text-align: center;
}

.btn {
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  background-color: cornflowerblue;
  box-shadow: 0 0 2px cornflowerblue;
  border: solid 1px cornflowerblue;
}

.btn:focus {
  box-shadow: 0 0 15px cornflowerblue;
  outline: none;
}

/***********************************

Nav Bars

************************************/

nav {
  background: #121212; 
  color: #dedede;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-link {
  border: none;
  background-color: #121212;
  text-decoration: none;
  color: #efefef;
  padding: 20px 20px 10px 20px;
  font-size: 1.2rem;
  font-weight: 700;
  border-right: 1pt solid #efefef;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-bottom: solid 10px #121212;
  transition-duration: 0.2s;
  transition-property: border;
}

.nav-link:last-of-type {
  border-right: none;
}

.nav-link:hover {
  border-bottom: solid 10px cornflowerblue;
}

.nav-link:focus {
  background-color: cornflowerblue;
  border-bottom: solid 10px cornflowerblue;
  outline: none;
}

@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
  }

  .nav-link {
    display: block;
    padding: 10px 10px 0 10px;
  }
}

/***********************************

Anchor refs

************************************/

.anchor {
  padding-top: 62px;
  margin-bottom: -62px;
}


.anchor-last {
  padding-top: 62px;
}

@media only screen and (max-width: 767px) {
  .anchor {
    padding-top: 168px;
    margin-bottom: -168px;
  }

  .anchor-last {
    padding-top: 168px;
  }
}

/***********************************

Header

************************************/

#header-img {
  background-image: url('/images/comp1.jpg');
  background-color: #cdcdcd;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

#header-text {
  color: #fff;
  font-size: 3.0rem;
}

#header-subtext {
  color: #fff;
  font-size: 2.5rem;
}


@media only screen and (max-width: 767px) {
  #header-img {
    height: 400px;
  }

  #header-text {
  }
}

/***********************************

About

************************************/

/***********************************

Posts

************************************/

#post-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 30px;

}

.main-page-post {
  box-sizing: border-box;
  width: 32%;
  border-radius: 5px;
  padding: 1%;
  padding-bottom: 60px;
  box-shadow: 0 0 5px #020202;
  position: relative;
}

.main-page-post:hover {
  box-shadow: 0 0 10px #020202;
}

.main-page-post h3 {
  margin: 10px 0 10px 0;
}

.post-content {
  max-height: 150px;
  overflow: hidden;
}

.small-post-btn {
  position: absolute;
  left: 5%;
  bottom: 10px;
  width: 90%;
}

#view-posts-btn {
  width: 100%;
  max-width: 400px;
  background-color: #edbc64;
  border-color: #edbc64;
  box-shadow: 0 0 2px #edbc64;
}

#view-posts-btn:focus {
  box-shadow: 0 0 15px #edbc64;
}

.view-posts-wrapper {
  padding: 30px 0px 60px 0px;
  border-bottom: solid 1px cornflowerblue;
}

@media only screen and (max-width: 767px) {
  #post-wrapper {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .main-page-post {
    width: 100%;
    margin-bottom: 20px;
  }

  .small-post-btn {
    width: 95%;
    left: 2.5%;
  }

  .view-posts-wrapper {
    padding: 0px 0px 30px 0px;
    border-bottom: solid 1px cornflowerblue;
  }
}
/***********************************

Footer

************************************/

