/*****************************

 css reset from 
 https://cssreset.com/scripts/eric-meyer-reset-css/ 

 ****************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  line-height: 1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/***********************************

Global Styles

************************************/

body {
  background-color: #efefef;
  color: #121212;
  font-family: Helventica, Arial, "sans-serif";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  min-width: 400px;
}

.content-wrapper {
  padding: 20px;
}

.center {
  text-align: center;
}

/***********************************

Buttons

************************************/

.btn {
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  background-color: #edbc64;
  border: solid 1px #edbc64;
  box-shadow: 0 0 2px #edbc64;  
}

.form-btn {
  background-color: #edbc64;
  border: solid 1px #edbc64;
  box-shadow: 0 0 2px #edbc64;
}

.btn:focus {
  box-shadow: 0 0 15px #edbc64;
  outline: none;
}

/***********************************

Client Side Nav Bar

************************************/

nav {
  /*Height is 56 px with 16px nav text*/
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;

}

.nav-link {
  background-color: #121212;
  color: #efefef;
  text-decoration: none;
  padding: 20px 0 10px 0;
  font-size: 16px;
  font-weight: bold;
  border-right: 1pt solid #efefef;
  display: inline-block;
  width: 100%;
  border-bottom: solid 10px #121212;
  cursor: pointer;
  text-transform: uppercase;
}

.nav-no-right-border {
  border-right: none;
}

.nav-active {
  text-decoration: underline;
  text-decoration-color: cornflowerblue;
}

.nav-link:hover {
  border-bottom: solid 10px cornflowerblue;
}

.nav-link:focus {
  outline: none;
}

#toggle-icon {
  display: none;
}

@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
  }

  .nav-link {
    padding: 10px 10px 10px 10px;
    border-bottom: none;
    border-right: none;
    width: 100%;
    display: none;
  }

  .nav-link:first-of-type {
    display: inline-block;
  }

  .nav-active {    
    text-decoration: underline;
    text-decoration-color: cornflowerblue;
  }

  .nav-link:hover {
    border-bottom: none;
    background-color: cornflowerblue;
  }
  
  .responsive {
    display: inline-block;
  }

  #toggle-icon {
    font-size: 26px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 40px;
  }
}

/***********************************

Admin Nav Bar

***********************************

/*nav#home-navbar,
nav#admin-navbar {
  position: fixed;
  top: 0;
  z-index: 99;
}*/

div#admin-sidebar {
  position: fixed;
  top: 59px;
  z-index: 99;
  flex-direction: column;
  width: 175px;
  height: 100vh;
  background-color: #242424;
}


.side-link {
  text-align: center;
  display: block;
  border: none;
  background-color: #242424;
  text-decoration: none;
  color: #efefef;
  padding: 20px 0 20px 0;
  font-size: 1.2rem;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid 1px #efefef;
  border-right: solid 10px #242424;
  border-left: solid 10px #242424;
  cursor: pointer;
  line-height: 1;
  text-transform: uppercase;
}

.side-link:hover {
  border-right: solid 10px #edbc64;
}

/*@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
  }

  .nav-link {
    display: block;
    padding: 10px 10px 0 10px;
  }

  nav#home-navbar,
  nav#admin-navbar,
  div#admin-sidebar {
    position: static;
  }
  div#admin-sidebar {
    height: auto;
    width: 100%;
  }

  .side-link {
    
    padding-bottom: 0px;
    border-bottom: solid 10px #242424; 
  }

  .side-link:hover {
    border-left: none;
    border-right: none;
    border-bottom: solid 10px #edbc64;
  }
}*/

/***********************************

Header

************************************/

#header {
  background-image: url('/images/comp1.jpg');
  background-color: #121212;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

#header-text {
  color: #fff;
  font-size: 3.0rem;
  padding: 20px;
  line-height: 1.2;
  font-weight: bold;
}

#header-subtext {
  color: #fff;
  font-size: 2.5rem;
  padding: 20px;
  line-height: 1.2;
}


@media only screen and (max-width: 767px) {
  #header {
    height: calc(100vh - 36px);
  }

  #header-text {
    font-size: 2.5rem;
  }

  #header-subtext {
    font-size: 2rem;
  }
}

/***********************************

About

************************************/
#about {
}

#about h2 {
  padding: 20px
}

#about p {
  line-height: 1.2;
  padding: 10px;
}

 /***********************************

Contact

************************************/

#contact {
}

#contact h2 {
  padding: 20px;
}

#contact p {
  line-height: 1.2;
  padding: 10px;
}

.socials {

}

#contact .fab {
  font-size: 48px;
}

@media screen and (max-width: 768px) {
  #contact .fab {
    font-size: 40px;
  }
}

.fa-facebook {
  color: #4867AD;
}

.fa-twitter-square {
  color: #48A0EC;
}

.fa-instagram {
  color: #B93D80;
}
.fa-linkedin {
  color: #3D91BA;
}

.fa-medium {
  color: #68DE7D;
}

.fa-github-square {
  color: #000;
}

.fa-free-code-camp {
  color: #2A6118;
}

.fa-youtube {
  color: #EB3324;
}

#contact form {
  margin-top: 20px;
  padding: 20px;
}

 /***********************************

Form

************************************/

form {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

.inputbox {
  margin-bottom: 20px;
}

label {
  /*display: block;*/
  font-size: 1.2rem;
}

input, textarea {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: solid 1px cornflowerblue;
  width: 100%;
}

input:focus, textarea:focus {
  outline: none;
  border: solid 1px #edbc64;
  box-shadow: 0 0 5px #edbc64;
}

/***********************************

Posts

************************************/

#posts {
}

.post-wrapper {
  background-color: #fefefe;
  margin-bottom: 10px;
  box-shadow: 0 0 2px #121212;
}

.post-wrapper:hover {
  box-shadow: 0 0 10px #121212;
}

.inner-post-wrapper {
  padding: 20px;
}

.post-wrapper a {
  text-decoration: none;
  color: #121212;
}

#posts a {
  text-decoration: none;
}

.back-btn {
  background-color: cornflowerblue;
  border: solid 1px cornflowerblue;
  box-shadow: 0 0 2px cornflowerblue;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.back-btn:focus {
  box-shadow: 0 0 15px cornflowerblue;
  outline: none;
}

.post-wrapper h2 {
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: #121212;
} 

@media only screen and (max-width: 767px) {
}


/***********************************

Alerts

************************************/

.alert {
  padding: 20px;
  font-size: 1.1rem;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.alert-success {
  color: #222;
  background-color: #D4EDDA;
  border-color: #B3CBB0;
}

.alert-danger {
  color: #222;
  background-color: #F8D7DA;
  border-color: #D6B5B8; 
}

.alert-warning {
  color: #222;
  background-color: #FFF3CD;
  border-color: #B0CAD0;
}

.closebtn {
  margin-left: 15px;
  color: #222;
  font-weight: bold;
  float: right;
  font-size: 1.5rem;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

 /***********************************

Log In Page

************************************/

#login {
  background-color: cornflowerblue;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.login-box {
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
}

 /***********************************

 Admin Page

************************************/

.admin-wrapper {
  margin-top: 59px;
  margin-left: 175px;
  background-color: #efefef;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .admin-wrapper {
    margin-top: 0;
    margin-left: 0;
  }
}