/***********************************

Global Styles

************************************/

body {
  background-color: #fefefe;
  color: #121212;
  font-family: arial, "sans-serif";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-wrapper {
  margin: 0 20px;
}
.center {
  text-align: center;
}

.btn {
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #fff;
  background-color: #edbc64;
  border: solid 1px #edbc64;
  box-shadow: 0 0 2px #edbc64;  
}

.btn:focus {
  box-shadow: 0 0 15px #edbc64;
  outline: none;
}

/***********************************

Nav Bars

************************************/

nav {
  background: #121212; 
  color: #dedede;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 99;
}

a {
  text-decoration: none;
  color: #efefef;
}
.nav-link {
  border: none;
  background-color: #121212;
  text-decoration: none;
  color: #efefef;
  padding: 20px 0 10px 0;
  font-size: 1.2rem;
  font-weight: 700;
  box-sizing: border-box;
  border-right: 1pt solid #efefef;
  display: inline-block;
  width: 100%;
  border-bottom: solid 10px #121212;
  cursor: pointer;
}

.nav-link:last-of-type {
  border-right: none;
}

.nav-link:hover, 
.nav-active {
  border-bottom: solid 10px #edbc64;
}

.nav-link:focus {
  outline: none;
}

@media only screen and (max-width: 767px) {
  nav {
    flex-direction: column;
  }

  .nav-link {
    display: block;
    padding: 10px 10px 0 10px;
  }
}

/***********************************

Anchor refs

************************************/

.anchor {
  padding-top: 62px;
  margin-bottom: -62px;
}


.anchor-last {
  padding-top: 62px;
}

@media only screen and (max-width: 767px) {
  .anchor {
    padding-top: 215px;
    margin-bottom: -215px;
  }
}

/***********************************

Header

************************************/
#header {
  padding-bottom: 60px;
}

#header-img {
  background-image: url('/images/comp1.jpg');
  background-color: #121212;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

#header-text {
  color: #fff;
  font-size: 3.0rem;
}

#header-subtext {
  color: #fff;
  font-size: 2.5rem;
}


@media only screen and (max-width: 767px) {
  #header-img {
    height: 400px;
  }

  #header-text {
  }
}

/***********************************

About

************************************/
#about {
  padding-bottom: 60px;
}

 /***********************************

Contact

************************************/
#contact {
  padding-bottom: 60px;
  
}

#contact-wrapper {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px 20px;
  background-color: cornflowerblue;
  color: white;
}

form {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.inputbox {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  font-size: 1.2rem;
}

input, textarea {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  border: solid 1px cornflowerblue;
  width: 80%;
}

input:focus, textarea:focus {
  outline: none;
  border: solid 1px #edbc64;
  box-shadow: 0 0 5px #edbc64;
}

/***********************************

Posts

************************************/
#posts {
  padding-bottom: 60px;
}

.main-page-post {
  width: 100%;
}

.main-page-post h3 {
  border-bottom: solid 1px #121212;
}

#vpb-div {
  width: 100%;
  margin: 30px 0;
}

#view-posts-btn {
  width: 300px;
  height: 60px;
}

@media only screen and (max-width: 767px) {
}

/***********************************

Footer

************************************/

#footer {
  height: 150px;
  margin: 62px -20px 0 -20px;
  padding: 60px 20px;
  background-color: cornflowerblue;
  color: white;
}

@media only screen and (max-width: 767px) {
  #footer {
    margin-top: 215px;
  }
}

 /***********************************

Alerts

************************************/

.alert {
  padding: 20px;
  font-size: 1.1rem;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.alert-success {
  color: #222;
  background-color: #D4EDDA;
  border-color: #B3CBB0;
}

.alert-danger {
  color: #222;
  background-color: #F8D7DA;
  border-color: #D6B5B8; 
}

.alert-warning {
  color: #222;
  background-color: #FFF3CD;
  border-color: #B0CAD0;
}

.closebtn {
  margin-left: 15px;
  color: #222;
  font-weight: bold;
  float: right;
  font-size: 1.5rem;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

 /***********************************

Log In Page

************************************/

#login {
  background-color: cornflowerblue;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.alert-box {
  position: absolute;
  z-index: 99;
  top: 5%;
}

.login-box {
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
}